<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zerobase.demo.customer.mapper.CustomerStoreMapper">

    <select id="selectList" resultType="zerobase.demo.customer.dto.CustomerStoreInfo">
        SELECT
        * , (
        6371 * acos (cos( RADIANS(#{parameter.userLat}))
        * cos(radians(lat))
        * cos(radians(lon) - RADIANS(#{parameter.userLon}))
        + sin (radians(#{parameter.userLat})) * sin( radians(lat))
            )
        ) AS distanceKm
        FROM STORE
        WHERE
            1=1
        <if test='parameter.openType.name().equals("OPEN")'>
            and
            open_close = 'open'
        </if>

        and
        name like concat('%', #{parameter.keyword}, '%')

        ORDER BY
        <choose>
            <when test='parameter.sortType.name().equals("RANDOM")'> RAND()</when>
            <when test='parameter.sortType.name().equals("DISTANCE")'> distanceKm</when>
            <when test='parameter.sortType.name().equals("TIP")'> DELIVERY_TIP</when>
            <when test='parameter.sortType.name().equals("ORDER")'> ORDER_COUNT</when>
        </choose>

        limit #{page.offset}, #{page.limit}
    </select>

    <select id="selectStoreById" resultType="zerobase.demo.customer.dto.CustomerStoreInfo">
        SELECT
        * , (
        6371 * acos (cos( RADIANS(#{userLat}))
        * cos(radians(lat))
        * cos(radians(lon) - RADIANS(#{userLon}))
        + sin (radians(#{userLat})) * sin( radians(lat))
        )
        ) AS distanceKm
        FROM STORE
        WHERE
        id = #{storeId}
    </select>

</mapper>
